body
{

 margin:0;
 padding:0;
}

.block{
	background:#0690cf;
	border:3px solid darkblue;
	width:400px;
	height:300px;
}
span
{
	color:white;
	font-size:30px;
	border-bottom:1px solid white;
	display:block;
	padding:20px;
	font-family:Tahoma,sans-serif;
}

.fields
{
	margin:20px;
	
}

.btn
{
	margin-top:20px;
	border:none;
	background:#ffdf7f;
	padding:5px;
	width:100px;
}

label
{
	color:white;
	font-family:Tahoma, sans-serif;
	float:left;
	padding-top:5px;

}

.field
{
	width:300px;

}



.field_second
{
	width:140px;
	margin-left:5px;
	margin-top:20px;
}


